body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.display {
    background-color: #444;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    max-width: 350px;
    padding: 20px;
    text-align: center;
}

#display {
    border: none;
    background-color: transparent;
    color: #fff;
    font-size: 24px;
    width: 100%;
    text-align: right;
    outline: none;
}